* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

  ul{
      list-style: none;
  }

html{
    background: dodgerblue;
}

html, body, #root, .App{
    height: 100%;
}

.App{
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 1em;
}

.container{
    flex: 1 0 auto;
    width:80%;
    margin: 0 auto;
}
 
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

#Status, #PlayArea{
    padding: 1em;
}

#Status{
    background: royalblue;
    flex: 1 0 auto;
}

#PlayArea{
    background: gold;
    flex: 2 0 auto;
    text-align: center;
}

.keyboard{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keys{
    padding: 8px 0;
    width: 40px;
    margin:1px ;
}

@media screen and (max-width: 450px) {
    .wrapper{
        flex-direction: column;
    }
}

footer{
    background: indigo;
    color: aliceblue;
}