 * {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 15px;
  }

  body{
      background-color: dodgerblue;
      background-image: url('../castle.svg');
      background-repeat:no-repeat;

      /* background-blend-mode:difference; */
  }

  h1{
      font-size: 2em;
      font-family: 'WaltographRegular';

  }

  ul{
      list-style: none;
  }

  .App{
      text-align: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
  }
 .wrapper{
    padding: 0 1em;
  }

  main{
      flex: 1 0 auto;
  }

 .display{

      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
      letter-spacing: 4px;
  }

  #Status, #PlayArea, #Keyboard{
      margin-top: 0.75em;
  }

  #Keyboard ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hangman{
      margin-top: 0.5em;
  }

.keys{
    padding: 8px 0;
    width: 37.6px;
    margin:2px ;
    font-family: 'WaltographRegular';
}

.newGame{
    margin-top: 1.5em;
    padding: 0.25em;
    font-family: 'WaltographRegular';
    font-size: 1.3em;

}

.used{
    background: grey;
} 

